.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.lift-container {
  /* height: 80%; */
  width: 75%;
}

.floor {
  display: flex;
  border-bottom: 4px solid black;
  height: 100px;
  align-items: center;
}
.floor-num {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.floor-keys {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  width: 50%;
  height: 25%;
}

.lift {
  flex: 3 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
}
