.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.lift-container {
  /* height: 80%; */
  width: 75%;
}

.floor {
  display: flex;
  border-bottom: 4px solid black;
  height: 100px;
  align-items: center;
}
.floor-num {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.floor-keys {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  width: 80px;
  height: 30px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.up-button {
  background: green;
}
.down-button {
  background: blue;
}

.lift {
  flex: 3 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
}

.lift-element {
  background: red;
  height: 50px;
  width: 50px;
}
